@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face{
    font-family: 'cod';
    src: url('fonts/Call\ of\ Ops\ Duty.otf');
}
*{
    font-family: 'Lato';
    box-sizing: border-box;
    font-weight: normal;
}

*::selection{
    background-color: #8d8467;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(imgs/fundo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
    width: 80%;
}

#cadastrados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
    width: 80%;
}

h1, h2{
    font-weight: bold;
    font-family: 'cod';
}

input[type="text"]{
    width: 50%;
    height: 40px;
    outline: none;
    border: none;
    margin: 1% 0;
    background-color: rgba(0, 0, 0, 0.5);
    
}

input[type="text"]::placeholder{
    color: #b9b9b9;
}

input[type="text"]:focus{
    background-color: white;
    border: 3px solid black;
}

#excluir, #incluir{
    padding: 1.5%;
    margin-top: 1%;
    background-color: gray;
    color: white;
    border: none;
    font-family: 'cod';

}

#excluir:hover, #incluir:hover{
    cursor: pointer;
    background-color: #b9b9b9;
}

label, option, select{
    font-family: 'cod';
}

select{
    width: 50%;
    padding: 1%;
    margin: 1% 0;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #b9b9b9;
}

option{
    color: white;
}

ul{
    list-style-type: decimal;
}

/*--*/
h2, #excluir{
    display: none;
}