@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: chartreuse;
    justify-items: center;
}

.item-1{
    background-color: red;
    width: 200px; 
    height: 200px;
}

.item-2{
    background-color: yellow;
    width: 200px; 
    height: 200px;
}

.item-3{
    background-color: black;
    width: 200px; 
    height: 200px;
}