to_do_list.txt
/GIT/dir_ignorado
/React/Aula 02  - Instalacao do React/my-app/node_modules
/React/Aula 03 - Componentes Funcionais/aula_03/node_modules
/React/Aula 03 - Componentes Funcionais/exercicio/exercicio_aula_03/node_modules