@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    background-image: radial-gradient(aqua, purple);
}

.container{
    padding-left: 1em; padding-right: 1em;
}

header{
    background-image: url(img/fundoHeader.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    padding: 5% 0%;
}

h1{
    text-align: center;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-family: 'Acme';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px black;

}

main{
    background-image: url(img/fundo.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.listas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista1, .lista2{
    width: 45%;
}

.lista3, .lista4, .lista5, .lista6{
    width: 20%;
}

.lista1, .lista2, .lista3, .lista4, .lista5, .lista6{
    margin: 1%;
    height: 100%;
    text-align: center;
}

ul{
    padding-left: 0;
}

ul li{
    list-style-type: none;
    text-transform: uppercase;
    padding: 3%;
    font-size: 110%;
    font-family: 'Akshar';
    font-weight: bold;
}

h2{
    font-family: 'Oswald';
    text-transform: uppercase;
    background-image: radial-gradient(aqua, purple);
    color: white;
}

footer{
    background-color: black;
    padding: 3%;
}

footer p{
    margin: 0;
    color: white;
    font-family: 'Akshar';
    text-align: center;
}

li:first-child, li:last-child, li:nth-child(3){
    background-image: radial-gradient(rgba(0, 255, 255, 0.336), rgba(128, 0, 128, 0.295));
    color: white;
}

li:nth-child(2), li:nth-child(4){
    background-image: radial-gradient(rgba(128, 0, 128, 0.274), rgba(0, 255, 255, 0.315));
    color: white;
}

@media all and (max-width: 600px){
    .lista1, .lista2, .lista3, .lista4, .lista5, .lista6{
    width: 90%;
    }

    main{
        background-image: none;
        background-color: black;
    }

    h1{
        font-size: 30px;
    }
}
