@charset "utf-8";

body{
    background-image: url(img/fundo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container{

}

h1{
    text-align: center;
}

.listas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista1, .lista2{
    width: 40%;
}

.lista3, .lista4, .lista5, .lista6{
    width: 20%;
}

.lista1, .lista2, .lista3, .lista4, .lista5, .lista6{
    background-color: rgb(255, 172, 172);
    margin: 1%;
    height: 100%;
    text-align: center;
}

ul{
    background-color: red;
    padding-left: 0;
}

ul li{
    list-style-type: none;
    text-transform: uppercase;
    padding: 3%;
    font-size: 110%;
    font-family: 'Akshar';
}

h2{
    background-color: red;
}

li:first-child, li:last-child, li:nth-child(3){
    background-color: black;
}

li:nth-child(2), li:nth-child(4){
    background-color: gray;
}

