@charset "utf-8";

body{
    margin: 0;
    padding: 0 1.5em;
    background-color: black;
}

.fundo{
    background-image: url(img/fundo.jpg);
    background-position: center;
    background-size: cover;
}

.container{
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1em;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5% 0 2% 0;
}

.header img{
    width: 50%;
}

.main{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.main img{
    width: 100%;
}

.main p{
    margin-top: 0;
    color: white;
    font-family: 'Alegreya Sans SC';
    font-size: 18px;
}

.item1, .item2, .item3, .item4{
    background-color: rgba(0, 0, 0, 0.50);
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    width: 100%;
    height: 35vh;
    padding: 2%;
}

.item1{
    grid-template-columns: 45% auto;
}