*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 2%;
}

.adicionarItem{
    background-color: rgb(223, 223, 223);
    padding: 2%;
}

.input{
    outline: none;
    border: none;
}

.inputMenor{
    width: 80px;
}

.descricao{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

h5{
    margin-bottom: 0;
}

ul{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divLi{
    display: flex;
    justify-content: space-between;
}

.numeroQtd{
    width: 40px;
}

.subtotal, .total{
    display: flex;
    justify-content: end;
}

.liSubtotal, .liTotal{
    align-self: end;
}