@charset "utf-8";

html, body{
    padding: 0%; margin: 0%;
    font-family: 'Varela Round', sans-serif;
}

header{
    background-color: rgb(255, 233, 181);
    height: 100px;
    text-align: center;
}

#mascote{
    height: 95%;
}

a{
    font-weight: bold;
    color: rgb(110, 110, 110);
    text-decoration: none;
    font-size: 1.2em;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    border-radius: 10px;
}

#aMeio{
    margin-right: 1.5%; margin-left: 1.5%;
}

main{
    margin: 0pt 80pt 0pt 80pt;
    padding: 0% 2%;
    background-color: rgb(255, 255, 255);
    height: 21cm;
    text-align: center;
}

h1{
    color: rgb(141, 141, 141);
    margin-top: 0%;
    font-size: 2.5em;
}

article{
    color: rgb(85, 85, 85);
    margin-bottom: 1cm;
    font-size: 0.2in;
}

#campeoes{
    border-radius: 3px;
    border: 10px groove rgb(255, 233, 181);;
}

footer{
    background-color: rgb(255, 233, 181);
    height: 50px;
    text-align: center;
    padding-top: 2%;
}

footer p{
    color: rgb(165, 165, 165);
    margin-top: 0;
}