@charset "utf-8";

.wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1em;
    overflow-x: hidden;
}

.wrapper>article {
    background: rgb(150, 255, 206);
    padding: 1em;
}
.wrapper>article:nth-child(odd) {
    background: rgb(255, 159, 207);
   }